<!-- <template name="reminderSubmit">
	<form class="main form">
		<div class="form-group {{errorClass 'title'}}">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" id="title" type="text" value="" placeholder="What do you need reminding of?" class="form-control"/>
				<span class="help-block">{{errorMessage 'title'}}</span>
			</div>
		</div>
		<div class="form-group {{errorClass 'message'}}">
			<label class="control-label" for="message">Message</label>
			<div class="controls">
				<input name="message" id="message" type="text" value="" placeholder="Your message" class="form-control"/>
				<span class="help-block">{{errorMessage 'message'}}</span>
			</div>
		</div>

		<div class="form-group {{errorClass 'datetimepicker'}}">
			<div class="input-group datetimepicker">
	    		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	   		 	<input name="date" id="date" class="set-due-date form-control" type="text"/>
	   		 	<span class="help-block">{{errorMessage 'datetimepicker'}}</span>
	  		</div>
	  	</div>

		<input type="submit" value="Submit" class="btn btn-primary"/>
	</form>
</template> -->

<template name="reminderSubmit">
	{{#autoForm schema=reminderSubmitSchema  id="reminder-submit-form" type="action"}}
		<fieldset>
			{{> afQuickField name="title"}}
			{{> afQuickField name="message"}}
			<div class="input-group datetimepicker">
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			{{> afQuickField id="date" name="date"}}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</fieldset>
	{{/autoForm}}
</template>