<template name="header">
	<nav class="app-header" role="navigation">
		<div class="g-row">
			<div class="g-col g-span4">
				<a class="navbar-brand button button--header" href="{{pathFor 'remindersList'}}">Reminders</a>
			</div>
			<div class="g-col g-span4" style="text-align: center;">
				<h4 class="app-title">Reminders App</h4>
			</div>
			<div class="g-col g-span4" style="text-align: right;">
				{{#if currentUser}}
					<a class="button button--header" href="{{pathFor 'reminderSubmit'}}"><span class="glyphicon-plus"></span></a>
					<a class="button button--header dropdown-toggle" data-toggle="dropdown" href="{{pathFor 'remindersList'}}">{{userEmail}}</a>
						<ul class="dropdown-menu dropdown-menu--align-right" role="menu" aria-labelledby="drop6">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Action</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Another action</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Something else here</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">{{> logout}}</li>
						</ul>
				{{/if}}
			</div>
		</div>
	</nav>
</template>
