<template name="splashPage">
	<div class="splash-page jumbotron">
		{{> flashMessages}}
		
		<header class="masthead feature" role="banner" style="background: #f0f0f0">
			<div class="l-container">
				<div class="g-row">
					<div class="g-span12 text-center g-col">
						<h2 class="interfaceType">Schedule an email to be sent later. Easy email reminders.</h2>
					</div>
				</div>
				<div class="g-row">
					<div class="g-span6 g-col text-center g-col--centered">
						<p>Boomerang for Gmail lets you take control of when you send and receive email messages.</p>
						<a href="/sign-up" class="button button--primary button--large">Create an account!</a>
					</div>
				</div>
				<div class="g-row">
					<div class="g-span6 g-col text-center g-col--centered">
						Already have an account? <a href="/login">Login</a>
					</div>
				</div>
			</div>
		</header>
		<section class="feature">
			<div class="l-container">
				<div class="g-row">
					<div class="g-span6 text-center g-col--centered g-col">
						<p>Trello is simple on the surface, but cards have everything you need to get stuff done. Post comments for instant feedback. Upload files from your computer, Google Drive, Dropbox, Box, and OneDrive. Add checklists, labels, due dates, and more. Notifications make sure you always know when important stuff happens.</p>
					</div>
				</div>
				<div class="g-row">
					<div class="g-span12 text-center g-col">
						<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/6ad5bda38ea7bb3aef295d5298ded1f7/home-card-detail.png" />
					</div>
				</div>
			</div>
		</section>
		<section class="feature" style="background: #f0f0f0">
			<div class="l-container">
				<div class="g-row">
					<div class="g-span6 g-col text-center g-col--centered">
						<p>Boomerang for Gmail lets you take control of when you send and receive email messages.</p>
						<a href="/sign-up" class="button button--primary button--large">Create an account!</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	{{> footer}}
</template>






	



