<template name="splashPage">
	<div class="splash-page jumbotron">
		{{> flashMessages}}
		
		<header class="masthead feature" role="banner">
			<div class="l-container">
				<div class="g-row">
					<div class="g-span12 text-center g-col">
						<h2 class="interfaceType">Schedule an email to be sent later. Easy email reminders.</h2>
					</div>
				</div>
				<div class="g-row">
					<div class="g-span6 g-col text-center g-col--centered">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						<a href="/sign-up" class="button button--primary button--large">Create an account!</a>
					</div>
				</div>
				<div class="g-row">
					<div class="g-span6 g-col text-center g-col--centered">
						Already have an account? <a href="/login">Login</a>
					</div>
				</div>
			</div>
		</header>
	</div>
	{{> footer}}
</template>






	



