<template name="login">
	<div class="l-container">
		<div class="g-row">
			<div class="g-col g-span8 g-col--centered">
				{{#autoForm schema=loginSchema id="login-form" class="form"}}
					<fieldset class="form-fieldset">
						<div class="form-group">
							<legend class="form-legend">Login</legend>
						</div>
						<div class="form-group {{#if afFieldIsInvalid name='email'}} has-error{{/if}}">
							{{> afFieldInput name="email" type="text" class="form-input" placeholder="you@example.com"}}
							{{#if afFieldIsInvalid name='email'}}
      							<span class="help-block">{{afFieldMessage name='email'}}</span>
      						{{/if}}
						</div>
						<div class="form-group {{#if afFieldIsInvalid name='password'}} has-error{{/if}}">
							{{> afFieldInput name="password" type="text" class="form-input" placeholder="password..."}}
							{{#if afFieldIsInvalid name='password'}}
      							<span class="help-block">{{afFieldMessage name='password'}}</span>
      						{{/if}}
						</div>
						<div class="form-group">
							<div class="form-actions text_centre">
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
						</div>
					</fieldset>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>
